/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .lettre {
  display: inline-block;
  width: 40px;        /* Largeur fixe pour le carré */
  height: 40px;       /* Hauteur fixe pour le carré */
  text-align: center; /* Centrer le texte à l'intérieur du carré */
  line-height: 40px;  /* Aligner verticalement le texte */
  background-color: rgb(0, 153, 255);  /* Fond bleu */
  color: white;       /* Texte en blanc */
  font-size: 20px;     /* Taille du texte */
  margin: 5px;        /* Marge autour des lettres */
  padding-bottom: 4px;        /* Ajout d'un padding pour espacer le texte */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre portée, plus définie */
  transition: transform 0.3s, background-color 0.3s; /* Animation pour les effets */
}

.lettre:hover {
  background-color: darkblue;  /* Couleur de fond plus foncée au survol */
  transform: scale(1.1);       /* Légère augmentation de taille au survol */
}

.marge-autour {
  margin: 20px; /* Ajoute une marge de 20px sur tous les côtés */
}

.styled-form input[type="text"]:focus {
  border-color: #007bff; /* Bordure bleue quand le champ est sélectionné */
}

.play-btn {
  padding: 10px 20px;
  background-color: #007bff; /* Couleur de fond bleue */
  color: white; /* Texte blanc */
  font-weight: bold; /* Mettre le texte en gras */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Curseur en main pour indiquer que c'est cliquable */
  font-size: 16px;
  transition: background-color 0.3s ease; /* Animation lors du survol */
}

.play-btn:hover {
  background-color: #0056b3; /* Couleur de fond bleue plus foncée au survol */
}
